.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.centered-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.car-grid-container {
  color: white;
}
.car-grid-container {
  color: white;
  display: flex;
  justify-content: left;
  align-items: left;
  height: calc(100vh - 60px); /* Adjust according to your navbar's height */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.input-field {
  width: 100px;
  border-radius: 5px;
  box-shadow: 
    0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23),
    0 5px 15px rgba(0,0,0,0.2),
    0 10px 10px rgba(0,0,0,0.1); /* Multiple shadows for gradient effect */
  background: linear-gradient(to top, #3d3d3d, #242323);
  border: none;
  color: rgb(238, 238, 238);
  padding: 5px 10px;
}


.car-image {
  width: 200px;  /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  object-fit: cover;
}
.navbar-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.car-details {
  background: linear-gradient(to top, #3d3d3d, #242323);
  padding: 20px;
  margin: 20px;
  width: 250px; /* Adjust as needed */
  box-sizing: border-box;
  color: rgb(238, 238, 238);
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  border-radius: 10px; /* Add this line */
  transition: transform 0.3s ease-in-out; /* Add this line */

}

.car-details:hover {
  transform: scale(1.05); /* Add this line */
}

@font-face {
  font-family: "logoFont";
  src: url("../../../font1/Blackout\ Sunrise.ttf");
}
/* .neon-text {
  color: #ffffff;
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 15px #ff0000,
    0 0 20px #ff0000,
    0 0 25px #ff0000,
    0 0 30px #ff0000,
    0 0 35px #ff0000;
  font-size: 2em;
  font-weight: bold;
} */
.login-button {
  background-color: #3d3d3d; /* Dark grey background */
  color: rgb(238, 238, 238); /* White text */
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 
    0 3px 6px rgba(0,0,0,0.16), 
    0 3px 6px rgba(0,0,0,0.23),
    0 5px 15px rgba(0,0,0,0.2),
    0 10px 10px rgba(0,0,0,0.1); /* Same box shadows as the input fields */
}
.logo {
  color: rgb(238, 238, 238);
  font-family: "logoFont";
  font-weight: bold;
  font-size: 4em;
  text-shadow: 2px 2px 3px #000, 3px 3px 5px rgba(0, 0, 0, 0.5);
  text-align: left;
  
}
.navbar-custom {
  /* background: linear-gradient(to bottom right, rgb(152, 35, 241), #04b4a5); */
  background: linear-gradient(to bottom right, rgb(108, 5, 193), #d4ee0c);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 
    0 1px 1px rgba(0,0,0,0.11), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.13), 
    0 8px 8px rgba(0,0,0,0.14), 
    0 16px 16px rgba(0,0,0,0.15); 
  transition: box-shadow 0.3s ease;
  height: 20em;
}

.login-form {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}
.App-header {
  background-color: #3a5791;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
